<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %}Dream Maker : Communication  {% endblock %}</title>

    {% block meta %}
        <meta name="keywords" content="Mots clés"  />
        <meta name="description" content="Dream Maker" />
        <meta name="revisit" content="7 days" />
        <meta name="revisit-after" content="7 days">
        <meta name="Author" content="Esthète, Delrodie AMOIKON">
        <meta name="Copyright" content="www.dreammaker-ci.com">
        <meta name="Content-Language" content="FR">
        <meta name="distribution" content="global" />
        <meta name="Audience" content="All" />
        <meta name="Robots" content="full">

        <link rel="canonical" href="http://dreammaker-ci.com/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="Item" />
        <meta property="og:title" content="Dream Maker" />
        <meta property="og:description" content="Dream Maker" />
        <meta property="og:url" content="http://dreammaker-ci.com/" />
        <meta property="og:site_name" content="Dream Maker CI" />
        <meta property="article:section" content="Item" />
        <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
        <!--<meta property="article:modified_time" content="2015-08-17T15:04:43+00:00" />
		<meta property="og:updated_time" content="2015-08-17T15:04:43+00:00" />-->
        <meta property="og:image" content="http://dreammaker-ci.com/ressources/images/logo2.png" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Dreammaker"/>
        <meta name="twitter:title" content="Dream"/>
        <meta name="twitter:domain" content="ASCCI"/>
        <meta name="twitter:image:src" content="http://scoutascci.org/ressources/images/logo2.png"/>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "NewsArticle",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "https://scoutascci.org"
                },
                "headline": "ASCCI :: Association des Scouts Catholiques de Côte d'Ivoire",
                "image": [
                    "http://scoutascci.org/ressources/images/logo2.png",
                    "http://scoutascci.org/ressources/images/logo2.png"
                ],
                "datePublished": "2018-01-20T15:25:59+00:00",
                "dateModified": "2018-01-20T15:25:59+00:00",
                "author": {
                    "@type": "Person",
                    "name": "Delrodie AMOIKON"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "ASCCI :: Association des Scouts Catholiques de Côte d'Ivoire",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "http://scoutascci.org/ressources/images/logo2.png"
                    }
                },
                "description": "L'Association des Scouts Catholiques de Côte d'Ivoire, est une organisation à but non lucratif et apolitique qui œuvre dans le domaine de l'éducation des jeunes de 05 à 21 ans depuis 1937."
            }
        </script>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "url": "http://www.scoutascci.org",
                "contactPoint": [{
                    "@type": "ContactPoint",
                    "telephone": "+225 20 22 35 22",
                    "contactType": "Direction",
                    "contactOption": "TollFree",
                    "areaServed": "FR"
                },{
                    "@type": "ContactPoint",
                    "telephone": "+225 20 22 35 22",
                    "contactType": "Direction",
                    "contactOption": "TollFree",
                    "areaServed": [
                        "CI",
                        "FR"
                    ],
                    "availableLanguage": [
                        "French",
                        "English"
                    ]
                }]
            }
        </script>

    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
            'ressources/css/bootstrap.css'
            'ressources/css/revolution-slider.css'
            'ressources/vendor/swiper/css/swiper.min.css'
            'ressources/css/style.css'
            'ressources/css/feature.css'
            'ressources/css/responsive.css'
            filter='cssrewrite' output='ressources/css/dreammaker.css'
        %}
            <link rel="stylesheet" href="{{ absolute_url(asset_url)}}" />
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="ressources/js/respond.js"></script><![endif]-->
</head>
<body>
<div class="page-wraper">
    <header class="main-header">
        <div class="auto-container clearfix">

            <div class="logo"><a href="{{ absolute_url(path('homepage')) }}"><img src="{{ absolute_url(asset('ressources/images/logo-02.png')) }}" alt="logo Dream Maker" title=" Bienvenue sur le website de Dream Maker"></a></div>

            <nav class="main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse clearfix">
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if (current_menu == 'accueil') %} class="current"{% endif %}><a href="{{ absolute_url(path('homepage')) }}">Accueil</a></li>
                        <li><a href="{{ absolute_url(asset('homepage')) }}">Actualités</a></li>
                        <li><a href="{{ absolute_url(asset('homepage')) }}">Qui sommes-nous?</a></li>
                        <li><a href="{{ absolute_url(asset('homepage')) }}">Notre label</a></li>
                        <li><a href="{{ absolute_url(asset('homepage')) }}">Events</a></li>
                        <li><a href="{{ absolute_url(asset('homepage')) }}">Contact</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </nav>
            <!-- Main Menu End-->

        </div>

    </header>
    {% block body %}{% endblock %}
    <section class="client-logos">
        <div class="title">
            <h2>Nos partenaires<span class="small-text"></span></h2>
        </div>
        <div class="logo-scroller">
            <ul class="slider">
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-01.jpg" alt=""></a></li>
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-02.jpg" alt=""></a></li>
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-03.jpg" alt=""></a></li>
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-04.jpg" alt=""></a></li>
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-05.jpg" alt=""></a></li>
                <li class="slide-item"><a href="#"><img src="ressources/images/partenaire/partenaire-06.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>

    <footer class="main-footer">
        <div class="auto-container">
            <div class="upper clearfix">
                <h2 class="pull-left">Suivez-<span>nous</span></h2>
                <div class="social-links pull-left">
                    <a href="#" class="icon fa fa-facebook-f wow fadeInRight" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0"></a>
                    <a href="#" class="icon fa fa-twitter wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0"></a>
                    <a href="#" class="icon fa fa-youtube wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0"></a>
                    <a href="#" class="icon fa fa-instagram wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="0"></a>
                </div>
            </div>
            <div class="lower">
                <div class="row clearfix">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget copyright wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
                            <h2><img src="ressources/images/logo-01.png" alt="" title=""></h2>
                            <p>&copy; 2019 <a href="{{ absolute_url(path('homepage')) }}">DREAM MAKER</a> &amp; Tous droits réservés
                                | <a href="{{ absolute_url(path('backend')) }}">Backoffice</a>
                            </p>
                        </div>
                    </div>

                    <!--Popular Tags-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget popular-tags wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s" data-wow-offset="0">
                            <h2>Nos services</h2>
                            <a href="#">Distributions</a>
                            <a href="#">Production</a>
                            <a href="#">Multimédia</a>
                            <a href="#">Evenementiel</a>
                            <a href="#">Regie publicitaire</a>
                            <a href="#">Communication</a>
                        </div>
                    </div>
                    <!--Quick Links-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget quick-links wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="0">
                            <h2>Plan du site</h2>
                            <div class="clearfix">
                                <ul>
                                    <li><a href="#">Actualités</a></li>
                                    <li><a href="#">Présentation</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Notre label</a></li>
                                    <li><a href="#">Nos artistes</a></li>
                                    <li><a href="#">Nos albums</a></li>
                                    <li><a href="#">Nos events</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!--Contact-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget contact wow fadeInUp" data-wow-delay="2s" data-wow-duration="1s" data-wow-offset="0">
                            <h2>Nous contacter</h2>
                            <ul>
                                <li class="clearfix">
                                    <strong class="pull-left">Mail</strong>
                                    <p class="pull-right">info@dreammaker-ci.com</p>
                                </li>
                                <li class="clearfix">
                                    <strong class="pull-left">Tel</strong>
                                    <p class="pull-right">(225) 58 99 99 79</p>
                                </li>
                                <li class="clearfix">
                                    <strong class="pull-left">Adresse</strong>
                                    <p class="pull-right">
                                        Côte d’Ivoire, Abidjan, Cocody – 7ème Tranche, non loin du 30è arrondissement</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--Lower End-->

        </div>
        <!-- Back to top Button -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </footer>

</div>

{% block javascripts %}
    {% javascripts
        'ressources/js/jquery.js'
        'ressources/js/bootstrap.min.js'
        'ressources/js/revolution.min.js'
        'ressources/js/bxslider.js'
        'ressources/js/jquery.appear.js'
        'ressources/js/wow.js'
        'ressources/js/knob.js'
        'ressources/js/validate.js'
        'ressources/vendor/swiper/js/swiper.js'
        'ressources/js/script.js'
        output='ressources/js/app.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
{% endblock %}
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        // Responsive breakpoints
        breakpoints: {
            // when window width is <= 320px
            320: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            // when window width is <= 480px
            480: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            // when window width is <= 1024px
            1024: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            // when window width is <= 1280px
            1280: {
                slidesPerView: 3,
                spaceBetween: 20
            }
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
</body>
</html>

