<!doctype html>
<html class="no-js" lang=fr"">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Candidats Star Dream Maker Music</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/owl.carousel.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/font-awesome.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/flaticon.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/jquery-ui.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/metisMenu.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/swiper.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/styles.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/responsive.css')) }}">
	<script src="{{ absolute_url(asset('assets/js/vendor/modernizr-2.8.3.min.js')) }}"></script>
</head>

<body>
<header class="header-area">
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-7 col-sm-6 col-6">
					<div class="logo">
						<a href="{{ path('sdm_index') }}">
							<img src="{{ absolute_url(asset('assets/img/logo.jpg')) }}" alt="" width="85">
						</a>
					</div>
				</div>
				<div class="col-lg-7 d-none d-lg-block">
					<nav class="mainmenu">
						<ul class="d-flex">
							<li class="active"><a href="{{ path('sdm_index') }}">Accueil</a></li>
							<li><a href="{{ path('frontend_presentation_index') }}">Dream Maker</a></li>
							<li><a href="#">Star Dream Maker Music</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 col-lg-2 col-sm-5 col-4">
					<ul class="search-cart-wrapper d-flex">
						<li class="search-tigger"><a href="{{ path('sdm_index') }}"><i class="fa fa-refresh"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="breadcumb-area bg-img-4 ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcumb-wrap text-center">

				</div>
			</div>
		</div>
	</div>
</div>
{% block body %}{% endblock %}
<footer class="footer-area">
	<div class="footer-buttom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12">
					<p></p>
				</div>
				<div class="col-md-6 col-12">
					<ul class="d-flex">
						<li><a href="{{ path('sdm_refresh') }}">&copy; 2019</a></li>
						<li>By <a href="http://dreammaker-ci.com">Dream Maker</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer-area end -->


<script src="{{ absolute_url(asset('assets/js/vendor/jquery-2.2.4.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/bootstrap.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/owl.carousel.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/mouse_scroll.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/scrollup.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/isotope.pkgd.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/imagesloaded.pkgd.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/jquery.zoom.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/swiper.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/metisMenu.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/jquery-ui.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/scripts.js')) }}"></script>
</body>
</html>
