{% extends 'base.html.twig' %}

{% block body %}
    <section class="features hidden-sm hidden-xs" style="background: url(asset('ressources/images/bg/accueil.jpg')) center center no-repeat #d2d6de;">
        <div class="auto-container clearfix">

            <article class="post wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-01.jpg')) }}" alt="Dream Maker Distribution" title="Dream Maker Distribution">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-right"><span><h3>Distribution</h3></span></div>
                </figure>
                <div class="text">
                    <h3>Distribution</h3>
                </div>
            </article>

            <article class="post wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-02.jpg')) }}" alt="Dream Maker Production" title="Dream Maker Production">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-right"><span></span></div>
                </figure>
                <div class="text">
                    <h3>Production</h3>
                </div>

                <div class="clearfix"></div>
            </article>

            <article class="post wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-03.jpg')) }}" alt="Dream Maker Multimedia" title="Dream Maker Multimedia">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-right"><span></span></div>
                </figure>
                <div class="text">
                    <h3>Multimedia</h3>
                </div>
                <div class="clearfix"></div>
            </article>

            <article class="post wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <div class="text">
                    <h3>Evenementiel</h3>
                </div>
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-04.jpg')) }}" alt="Dream Maker Evenementiel" title="Dream Maker Evenementiel">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-left"><span></span></div>
                </figure>
                <div class="clearfix"></div>
            </article>

            <article class="post wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <div class="text">
                    <h3>Régie publicitaire</h3>
                </div>
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-05.jpg')) }}" alt="Dream Maker Régie publicitaire" title="Dream Maker Régie publicitaire">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-left"><span></span></div>
                </figure>
                <div class="clearfix"></div>
            </article>

            <article class="post wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                <div class="text">
                    <h3>Communication</h3>
                </div>
                <figure class="image">
                    <img src="{{ absolute_url(asset('ressources/images/service/service-06.jpg')) }}" alt="Dream Maker Communication" title="Dream Maker Communication">
                    <a class="overlay" href="{{ absolute_url(path('frontend_presentation_index')) }}#dreamService"></a>
                    <div class="arrow from-left"><span></span></div>
                </figure>

                <div class="clearfix"></div>
            </article>
        </div>
    </section>
    <section class="features hidden-lg hidden-md hidden-print" style="background-image:url(asset('ressources/images/bg/accueil.jpg'));">
        <div class="auto-container">
            <div class="swiper-container">
                <div class="swiper-wrapper articles">
                    <div class="swiper-slide wow fadeInLeft">
                        <article class="post" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-01.jpg')) }}" alt="Dream Maker Distribution" title="Dream Maker Distribution">
                                <a class="overlay" href="presentation.html#dreamService"></a>
                                <div class="arrow from-right"><span><h3>Distribution</h3></span></div>
                            </figure>
                            <div class="text">
                                <h3>Distribution</h3>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide wow fadeInDown">
                        <article class="post wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-02.jpg')) }}" alt="Dream Maker Production" title="Dream Maker Production">
                                <a class="overlay" href="presentation.html#dreamService"></a>
                                <div class="arrow from-right"><span></span></div>
                            </figure>
                            <div class="text">
                                <h3>Production</h3>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                    <div class="swiper-slide wow fadeInRight">
                        <article class="post wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-03.jpg')) }}" alt="Dream Maker Multimedia" title="Dream Maker Multimedia">
                                <a class="overlay" href="#"></a>
                                <div class="arrow from-right"><span></span></div>
                            </figure>
                            <div class="text">
                                <h3>Multimedia</h3>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                    <div class="swiper-slide wow fadeInUp">
                        <article class="post wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">

                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-04.jpg')) }}" alt="Dream Maker Evenementiel" title="Dream Maker Evenementiel">
                                <a class="overlay" href="#"></a>
                                <div class="arrow from-left"><span></span></div>
                            </figure>
                            <div class="text">
                                <h3>Evenementiel</h3>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                    <div class="swiper-slide wow fadeInUp">
                        <article class="post wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-05.jpg')) }}" alt="Dream Maker Régie Publicitaire" title="Dream Maker Régie Publicitaire">
                                <a class="overlay" href="#"></a>
                                <div class="arrow from-left"><span></span></div>
                            </figure>
                            <div class="text">
                                <h3>Régie publicitaire</h3>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                    <div class="swiper-slide wow fadeInUp">
                        <article class="post wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                            <figure class="image">
                                <img src="{{ absolute_url(asset('ressources/images/service/service-06.jpg')) }}" alt="Dream Maker Communication" title="Dream Maker Communication">
                                <a class="overlay" href="#"></a>
                                <div class="arrow from-left"><span></span></div>
                            </figure>
                            <div class="text">
                                <h3>Communication</h3>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>
                </div>

                <div class="swiper-pagination" style="margin-top: 25px;"></div>
            </div>
        </div>
    </section>
    <section><br>
        <div class="auto-container clearfix">
            <a href="{{ absolute_url(path('sdm_index')) }}" title="Cliquez pour acceder à la page de vote">
                <img src="{{ asset('assets/img/bg2.jpg') }}" alt="" class="img-responsive">
            </a>
        </div>
        <br>
        <div class="auto-container clearfix">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="{{ absolute_url(path('sdm_index')) }}" title="Cliquez pour acceder à la page de vote">
                        <button class="btn btn-danger btn-lg">Cliquez pour acceder à la page de vote</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="actualite">
        <div class="auto-container">
            {% if (actualites) %}
                <div class="titre-section">
                    <h2>Actualités</h2>
                </div>
            {% endif %}
            <div class="swiper-container">
                <div class="swiper-wrapper articles">
                    {% for actualite in actualites %}
                        {% if (loop.index is divisibleby(2)) %}
                            <div class="swiper-slide wow fadeInDown">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">
                                            <!--<img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="">-->
                                            <img src="{{ asset('uploads/actualite/'~ actualite.imageName) | imagine_filter('actualite_accueil') }}" alt="{{ actualite.titre }}"  class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4><a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">{{ actualite.titre }}</a></h4>
                                        <p class="text">
                                            {{ actualite.resume|raw }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="swiper-slide wow fadeInLeft">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">
                                            <img src="{{ asset('uploads/actualite/'~ actualite.imageName) | imagine_filter('actualite_accueil') }}" alt="{{ actualite.titre }}"  class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4><a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">{{ actualite.titre }}</a></h4>
                                        <p class="text">
                                            {{ actualite.resume|raw }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    {% if (artistes) %}
        <section class="our-team">
            <div class="auto-container">
                <div class="titre-section">
                    <h2>Nos artistes</h2>
                </div>

                <div class="row clearfix">

                    {% for artiste in artistes %}
                        {% if (loop.index is not divisibleby(2)) %}
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="member wow fadeInRight" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                    <figure class="ressources/image">
                                        <a href="{{ absolute_url(path('frontend_label_artiste', {'slug': artiste.slug})) }}">
                                            <img src="{{ asset('uploads/artiste/'~ artiste.imageName) | imagine_filter('artiste_accueil') }}" alt="{{ artiste.pseudonyme }}"  class="img-responsive"/>
                                        </a>
                                        <span class="curve"></span>
                                    </figure>
                                    <div class="content">
                                        <ul class="social-links">
                                            {% if (artiste.facebook) %}
                                                <li><a class="fa fa-facebook-f" href="https://facebook.com/{{ artiste.facebook }}" target="_blank" title="Suivre {{ artiste.pseudonyme }} sur Facebook"></a></li>
                                            {% endif %}
                                            {% if (artiste.twitter) %}
                                                <li><a class="fa fa-twitter" href="https://twitter.com/{{ artiste.twitter }}" title="Suivre {{ artiste.pseudonyme }} sur Twitter"></a></li>
                                            {% endif %}
                                            {% if (artiste.instagram) %}
                                                <li><a class="fa fa-instagram" href="https://instagram.com/{{ artiste.instagram }}" title="Suivre {{ artiste.pseudonyme }} sur Instagram" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.youtube) %}
                                                <li><a class="fa fa-youtube" href="https://youtube.com/{{ artiste.youtube }}" title="Suivre {{ artiste.pseudonyme }} sur Youtube" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.website) %}
                                                <li><a class="fa fa-globe" href="{{ artiste.website }}" title="{{ artiste.pseudonyme }}" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.email) %}
                                                <li><a class="fa fa-envelope" href="mailto:{{ artiste.email }}" title="Envoyer un email à {{ artiste.pseudonyme }}"></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        {% else %}
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="member wow fadeInDown" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                    <figure class="ressources/image">
                                        <a href="{{ absolute_url(path('frontend_label_artiste', {'slug': artiste.slug})) }}">
                                            <img src="{{ asset('uploads/artiste/'~ artiste.imageName) | imagine_filter('artiste_accueil') }}" alt="{{ artiste.pseudonyme }}"  class="img-responsive"/>
                                        </a>
                                        <span class="curve"></span>
                                    </figure>
                                    <div class="content">
                                        <ul class="social-links">
                                            {% if (artiste.facebook) %}
                                                <li><a class="fa fa-facebook-f" href="https://facebook.com/{{ artiste.facebook }}" target="_blank" title="Suivre {{ artiste.pseudonyme }} sur Facebook"></a></li>
                                            {% endif %}
                                            {% if (artiste.twitter) %}
                                                <li><a class="fa fa-twitter" href="https://twitter.com/{{ artiste.twitter }}" title="Suivre {{ artiste.pseudonyme }} sur Twitter"></a></li>
                                            {% endif %}
                                            {% if (artiste.instagram) %}
                                                <li><a class="fa fa-instagram" href="https://instagram.com/{{ artiste.instagram }}" title="Suivre {{ artiste.pseudonyme }} sur Instagram" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.youtube) %}
                                                <li><a class="fa fa-youtube" href="https://youtube.com/{{ artiste.youtube }}" title="Suivre {{ artiste.pseudonyme }} sur Youtube" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.website) %}
                                                <li><a class="fa fa-globe" href="{{ artiste.website }}" title="{{ artiste.pseudonyme }}" target="_blank"></a></li>
                                            {% endif %}
                                            {% if (artiste.email) %}
                                                <li><a class="fa fa-envelope" href="mailto:{{ artiste.email }}" title="Envoyer un email à {{ artiste.pseudonyme }}"></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="lire-suite text-right">
                    <h3><a href="{{ absolute_url(path('frontend_label_index')) }}" >&raquo; Voir tous les artistes</a></h3>
                </div>
            </div>
        </section>
    {% endif %}

    {% if (events) %}
        <section class="successfull-stories curved-carousel event">
            <div class="auto-container">
                <div class="titre-section">
                    <h2>Showbiz Event</h2>
                </div>
            </div>
            <div class="row slider">
                {% for event in events %}
                    <article class="slide-item">
                        <div class="auto-container">
                            <div class="text-side">
                                <div class="sec-title">
                                    <a href="{{ absolute_url(path('frontend_event_show',{'slug': event.slug})) }}"><h2>{{ event.titre }}</h2></a>

                                </div>
                                <div class="sec-text">
                                    <p>{{ event.resume|raw }}</p>
                                </div>
                            </div>

                            <figure class="image-box">
                                <div class="image-layer" style="background-image:url({{ vich_uploader_asset(event, 'imageFile') }});"></div>
                            </figure>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </section>
    {% endif %}

{% endblock %}


    {% block meta %}
        <meta name="keywords" content="Musique, distribution, communication, production, artiste, manager, multimedia"  />
        <meta name="description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia" />
        <meta name="revisit" content="7 days" />
        <meta name="revisit-after" content="7 days">
        <meta name="Author" content="Dream Maker, Delrodie AMOIKON">
        <meta name="Copyright" content="www.dreammaker-ci.com">
        <meta name="Content-Language" content="FR">
        <meta name="distribution" content="global" />
        <meta name="Audience" content="All" />
        <meta name="Robots" content="full">

        <link rel="canonical" href="http://dreammaker-ci.com/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="Item" />
        <meta property="og:title" content="DREAM MAKER : Maison de distribution, production et de communication événementielle" />
        <meta property="og:description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia" />
        <meta property="og:url" content="http://dreammaker-ci.com/" />
        <meta property="og:site_name" content="Dream Maker CI" />
        <meta property="article:section" content="Item" />
        <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
        <!--<meta property="article:modified_time" content="2015-08-17T15:04:43+00:00" />
		<meta property="og:updated_time" content="2015-08-17T15:04:43+00:00" />-->
        <meta property="og:image" content="http://dreammaker-ci.com/ressources/images/logo-02.png" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia"/>
        <meta name="twitter:title" content="DREAM MAKER : Maison de distribution, production et de communication événementielle"/>
        <meta name="twitter:domain" content="Dream Maker"/>
        <meta name="twitter:image:src" content="http://dreammaker-ci.com/ressources/images/logo-02.png"/>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "NewsArticle",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "http://dreammaker-ci.com"
                },
                "headline": "DREAM MAKER : Maison de distribution, production et de communication événementielle",
                "image": [
                    "http://dreammaker-ci.com/ressources/images/logo-02.png",
                    "http://dreammaker-ci.com/ressources/images/logo-02.png"
                ],
                "datePublished": "2018-01-20T15:25:59+00:00",
                "dateModified": "2018-01-20T15:25:59+00:00",
                "author": {
                    "@type": "Person",
                    "name": "Delrodie AMOIKON"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "Dream Maker",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "http://dreammaker-ci.com/ressources/images/logo-02.png"
                    }
                },
                "description": "Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia"
            }
        </script>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "url": "http://www.dreammaker-ci.com",
                "contactPoint": [{
                    "@type": "ContactPoint",
                    "telephone": "+225 58 99 99 79",
                    "contactType": "Direction",
                    "contactOption": "TollFree",
                    "areaServed": "FR"
                },{
                    "@type": "ContactPoint",
                    "telephone": "+225 58 99 99 79",
                    "contactType": "Direction",
                    "contactOption": "TollFree",
                    "areaServed": [
                        "CI",
                        "FR"
                    ],
                    "availableLanguage": [
                        "French",
                        "English"
                    ]
                }]
            }
        </script>

    {% endblock %}
