{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <section class="page-banner" style="background-image:url({{ absolute_url(asset('ressources/images/bg/bg-page.jpg')) }});">
        <div class="auto-container">
            <h1>{{ album.artiste.pseudonyme }} : {{ album.titre }}</h1>
        </div>
    </section>
    <section id="blog" class="blog section">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-8">
                    <div class="author wow fadeInUp">
                        <img src="{{ asset('uploads/album/'~ album.imageName) | imagine_filter('artiste_accueil') }}" alt="{{ album.titre }}" class="img-responsive" width="260" />
                        <div class="author-comment">
                            <h4><strong>{{ album.titre }}</strong></h4>
                            <label for="">Interprète:</label> {{ album.artiste.pseudonyme }} <br>
                            <label for="">Compositeurs:</label> {{ album.compositeur }} <br>
                            <label for="">Choeurs:</label> {{ album.choeur }} <br>
                            <label for="">Arrangeurs:</label> {{ album.arrangeur }} <br>
                            <label for="">Producteur:</label> {{ album.producteur }} <br>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Mixages:</label> {{ album.mixage }} <br>
                                <label for="">Master:</label> {{ album.master }} <br>
                                <label for="">Distribution:</label> {{ album.distribution }} <br>
                                {% if album.artiste.manager %}<label for="">Manager:</label> {{ album.artiste.manager }} <br>{% endif %}
                                {% if album.artiste.email %}<label for="">Email:</label> {{ album.artiste.email }} <br>{% endif %}
                                {% if album.artiste.website %}<label for="">Website:</label> {{ album.artiste.website }} <br>{% endif %}
                                <label for="">Genre:</label>
                                {% for tag in album.artiste.genre|split(',')  %}
                                    <span class="badge genre"><a href="#" title="Voir les autres artistes {{ tag }}">{{ tag }}</a></span>
                                {% endfor %}
                                <br><br>
                                <div class="sharethis-inline-share-buttons"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- annonce728x90 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-9362330925767613"
                             data-ad-slot="7445097797"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <div class="top60">
                            <h3>Achêter l'album </h3>
                        </div>
                        <div class="row col-md-12 acheter-album">
                            {% if album.spotify %}<a href="{{ album.spotify }}" class="vente" title="Acheter l'album sur Spotify" target="_blank"><div id="spotify"></div></a>{% endif %}
                            {% if album.deezer %}<a href="{{ album.deezer }}" class="vente" title="Acheter l'album sur Deezer" target="_blank"><div id="deezer"></div></a>{% endif %}
                            {% if album.itunes %}<a href="{{ album.itunes }}" class="vente" title="Acheter l'album sur sur Itunes" target="_blank"><div id="itunes"></div></a>{% endif %}
                            {% if album.googlePlay %}<a href="{{ album.googlePlay }}" class="vente" title="Acheter l'album sur sur Google Play" target="_blank"><div id="googleplay"></div></a>{% endif %}
                            {% if album.amazon %}<a href="{{ album.amazon }}" class="vente" title="Acheter l'album sur sur Amazon" target="_blank"><div id="amazon"></div></a>{% endif %}
                        </div>
                    </div>

                    <div class="row top60">
                        <div class="col-md-12 text-left" role="albums">
                            <ul class="nav nav-tabs">
                                <li role="albums" class="active"><a href="#titres" aria-controls="titre" role="tab" data-toggle="tab">
                                        <h4>Titre</h4></a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="titre">
                                    <div class="list-group">
                                        {% for chanson in album.pistes %}
                                            <a href="#" class="list-group-item"><span class="badge">{{ chanson.duree }}</span>{{ chanson.piste }}. {{ chanson.titre }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right wow fadeInDown" style="margin-bottom: 50px;">
                        <a href="{{ absolute_url(path('frontend_label_artiste',{'slug': album.artiste.slug})) }}" title="Retour à l'artiste">
                            <i class="fa fa-reply fa-2x"></i> Retour
                        </a>
                    </div>

                    <div class="post-comments">
                        <div class="title-head wow fadeInUp"></div>
                        <ul class="comment-list">
                            <div class="fb-comments" data-href="{{ absolute_url(path('frontend_label_album',{'slug': album.slug})) }}" data-numposts="5"></div>
                        </ul>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="sidebar">
                        {{ render(url('frontend_bloc_droit')) }}
                    </div>

                </div>

            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- annonce728x90 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9362330925767613"
                 data-ad-slot="7445097797"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </section>
{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ album.artiste.pseudonyme }}, {{ album.artiste.genre|join(', ') }}"  />
    <meta name="description" content="{{ album.artiste.resume|raw }}" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="Dream Maker, Delrodie AMOIKON">
    <meta name="Copyright" content="www.dreammaker-ci.com">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('frontend_label_album',{'slug': album.slug})) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="{{ album.artiste.pseudonyme }}" />
    <meta property="og:description" content="{{ album.artiste.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('frontend_label_album',{'slug': album.slug})) }}" />
    <meta property="og:site_name" content="Dream Maker CI" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="{{ album.artiste.publieLe|date('Y-m-d') }}T{{ album.artiste.publieLe|date('H:i:s') }}+00:00" />
    <meta property="article:modified_time" content="{{ album.artiste.modifieLe|date('Y-m-d') }}T{{ album.artiste.modifieLe|date('H:i:s') }}+00:00" />
    <meta property="og:updated_time" content="{{ album.artiste.modifieLe|date('Y-m-d') }}T{{ album.artiste.modifieLe|date('H:i:s') }}+00:00" />
    <meta property="og:image" content="{{ absolute_url(vich_uploader_asset(album, 'imageFile')) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ album.artiste.resume|raw }}"/>
    <meta name="twitter:title" content="{{ album.artiste.pseudonyme }}"/>
    <meta name="twitter:domain" content="DREAM MAKER"/>
    <meta name="twitter:image:src" content="{{ absolute_url(vich_uploader_asset(album, 'imageFile')) }}"/>
    <script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ absolute_url(path('frontend_label_album',{'slug': album.slug})) }}"
			},
			"headline": "{{ album.artiste.pseudonyme }}",
			"image": [
				"{{ absolute_url(vich_uploader_asset(album, 'imageFile')) }}",
				"{{ absolute_url(vich_uploader_asset(album, 'imageFile')) }}"
			],
			"datePublished": "{{ album.artiste.publieLe|date('Y-m-d') }}T{{ album.artiste.publieLe|date('H:i:s') }}+00:00",
			"dateModified": "{{ album.artiste.modifieLe|date('Y-m-d') }}T{{ album.artiste.modifieLe|date('H:i:s') }}+00:00",
			"author": {
				"@type": "Person",
				"name": "Delrodie AMOIKON"
			},
			"publisher": {
				"@type": "Organization",
				"name": "DREAM MAKER :: Maison de distribution, production et de communication événementielle",
				"logo": {
					"@type": "ImageObject",
					"url": "{{ absolute_url(asset('ressources/images/logo-02.png')) }}"
				}
			},
			"description": "{{ album.artiste.resume|raw }}"
		}
	</script>

    <script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ absolute_url(path('homepage')) }}",
			"contactPoint": [{
				"@type": "ContactPoint",
				"telephone": "+225 58 99 99 79",
				"contactType": "Direction",
				"contactOption": "TollFree",
				"areaServed": "FR"
			},{
				"@type": "ContactPoint",
				"telephone": "+225 58 99 99 79",
				"contactType": "Direction",
				"contactOption": "TollFree",
				"areaServed": [
					"CI",
					"FR"
				],
				"availableLanguage": [
					"French",
					"English"
				]
			}]
		}
	</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/css/icon.css')) }}">
{% endblock %}

{% block adsense %}
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9362330925767613",
            enable_page_level_ads: true
        });
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('ressources/js/jquery.fancybox.pack.js')) }}"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d124f7e2d592700120c2b34&product='inline-share-buttons' async='async'></script>
{% endblock %}
