{% extends 'base.html.twig' %}

{% block title %}Biographie et bibliographie de l'artiste {{ artiste.pseudonyme }} {% endblock %}

{% block body %}
	<section class="page-banner" style="background-image:url({{ absolute_url(asset('ressources/images/bg/bg-page.jpg')) }});">
		<div class="auto-container">
			<h1>{{ artiste.pseudonyme }}</h1>
		</div>
	</section>

	<section id="blog" class="blog section">
		<div class="auto-container">
			<div class="row">
				<div class="col-md-8">
					<div class="author wow fadeInUp">
						<img src="{{ asset('uploads/artiste/'~ artiste.imageName) | imagine_filter('artiste_accueil') }}" alt="{{ artiste.pseudonyme }}" class="img-responsive" width="260" />
						<div class="author-comment" style="margin-bottom: 100px;">
							<h4><strong>{{ artiste.pseudonyme }}</strong></h4>
							{% if artiste.manager %}
								<label for="">Manager:</label> {{ artiste.manager }}<br>
							{% endif %}
							{% if artiste.email %}
								<label for="">Email:</label> {{ artiste.email }} <br>
							{% endif %}
							{% if artiste.website %}
								<label for="">Website:</label> <a href="http://{{ artiste.website }}" target="_blank">http://{{ artiste.website }}</a> <br>
							{% endif %}
							{% if artiste.genre %}
								<label for="">Genre:</label>
								{% for tag in artiste.genre|split(',')  %}
									<span class="badge genre"><a href="#" title="Voir les autres artistes {{ tag }}">{{ tag }}</a></span>
								{% endfor %}
							{% endif %} <br><br>
							<div class="row col-md-12 suivre-artistes">
								{% if artiste.youtube %}
									<a href="https://www.youtube.com/{{ artiste.youtube }}" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
								{% endif %}
								{% if artiste.facebook %}
									<a href="https://facebook.com/{{ artiste.facebook }}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
								{% endif %}
								{% if artiste.twitter %}
									<a href="https://twiter.com/{{ artiste.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
								{% endif %}
								{% if artiste.instagram %}
									<a href="https://instagram.com/{{ artiste.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
								{% endif %}


							</div>
						</div>
						{{ artiste.biographie|raw }}
						<div class="clear"></div>
					</div>
					{% if artiste.oeuvre %}
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- annonce728x90 -->
						<ins class="adsbygoogle"
							 style="display:inline-block;width:728px;height:90px"
							 data-ad-client="ca-pub-9362330925767613"
							 data-ad-slot="7445097797"></ins>
						<script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<section id="gallery-page" class="two-col">
							<div class="auto-container">
								<div class="sec-title">
									<h2>La discographie</h2>
								</div>

								<div class="gallery-filter">
									<ul>
										<li class="filter" data-filter="all">
											<span>Tout</span>
										</li>
										<li class="filter" data-filter=".single">
											<span>Single</span>
										</li>
										<li class="filter" data-filter=".album">
											<span>Albums</span>
										</li>
									</ul>
								</div>

								<div id="image-gallery" class="clearfix">
									{% for album in albums %}
										<div class="col-lg-4 mix {{ album.type|lower }}">
											<a href="{{ absolute_url(path('frontend_label_album',{'slug': album.slug})) }}">
												<img src="{{ asset('uploads/album/'~ album.imageName) | imagine_filter('artiste_accueil') }}" alt="{{ album.artiste.pseudonyme }}">
												<div class="overlay">
													<i class="fa fa-search"></i>
													<h2>{{ album.artiste.pseudonyme }}</h2>
												</div>
											</a>

										</div>
									{% endfor %}

								</div>
							</div>
						</section>

					{% endif %}

					<br><br>
					<div class="sharethis-inline-share-buttons"></div>
					<br><br>
					<div class="pull-right wow fadeInDown" style="margin-bottom: 50px;">
						<a href="{{ absolute_url(path('frontend_label_index')) }}" title="Retour à la page du label">
							<i class="fa fa-reply fa-2x"></i> Retour
						</a>
					</div>
					<br>
					<div class="post-comments">
						<div class="title-head wow fadeInUp"></div>
						<ul class="comment-list">
							<div class="fb-comments" data-href="{{ absolute_url(path('frontend_label_artiste',{'slug': artiste.slug})) }}" data-numposts="5"></div>
						</ul>
					</div>
				</div>


				<div class="col-md-4">

					<div class="sidebar">
						{{ render(url('frontend_bloc_droit')) }}
					</div>

				</div>

			</div>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- annonce728x90 -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-9362330925767613"
				 data-ad-slot="7445097797"></ins>
			<script>
                (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</section>

{% endblock %}
{% block meta %}
	<meta name="keywords" content="{{ artiste.pseudonyme }}, {{ artiste.genre|join(', ') }}"  />
	<meta name="description" content="{{ artiste.resume|raw }}" />
	<meta name="revisit" content="7 days" />
	<meta name="revisit-after" content="7 days">
	<meta name="Author" content="Dream Maker, Delrodie AMOIKON">
	<meta name="Copyright" content="www.dreammaker-ci.com">
	<meta name="Content-Language" content="FR">
	<meta name="distribution" content="global" />
	<meta name="Audience" content="All" />
	<meta name="Robots" content="full">

	<link rel="canonical" href="{{ absolute_url(path('frontend_label_artiste',{'slug': artiste.slug})) }}" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="Item" />
	<meta property="og:title" content="{{ artiste.pseudonyme }}" />
	<meta property="og:description" content="{{ artiste.resume|raw }}" />
	<meta property="og:url" content="{{ absolute_url(path('frontend_label_artiste',{'slug': artiste.slug})) }}" />
	<meta property="og:site_name" content="Dream Maker CI" />
	<meta property="article:section" content="Item" />
	<meta property="article:published_time" content="{{ artiste.publieLe|date('Y-m-d') }}T{{ artiste.publieLe|date('H:i:s') }}+00:00" />
	<meta property="article:modified_time" content="{{ artiste.modifieLe|date('Y-m-d') }}T{{ artiste.modifieLe|date('H:i:s') }}+00:00" />
	<meta property="og:updated_time" content="{{ artiste.modifieLe|date('Y-m-d') }}T{{ artiste.modifieLe|date('H:i:s') }}+00:00" />
	<meta property="og:image" content="{{ absolute_url(vich_uploader_asset(artiste, 'imageFile')) }}" />
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:description" content="{{ artiste.resume|raw }}"/>
	<meta name="twitter:title" content="{{ artiste.pseudonyme }}"/>
	<meta name="twitter:domain" content="DREAM MAKER"/>
	<meta name="twitter:image:src" content="{{ absolute_url(vich_uploader_asset(artiste, 'imageFile')) }}"/>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ absolute_url(path('frontend_label_artiste',{'slug': artiste.slug})) }}"
			},
			"headline": "{{ artiste.pseudonyme }}",
			"image": [
				"{{ absolute_url(vich_uploader_asset(artiste, 'imageFile')) }}",
				"{{ absolute_url(vich_uploader_asset(artiste, 'imageFile')) }}"
			],
			"datePublished": "{{ artiste.publieLe|date('Y-m-d') }}T{{ artiste.publieLe|date('H:i:s') }}+00:00",
			"dateModified": "{{ artiste.modifieLe|date('Y-m-d') }}T{{ artiste.modifieLe|date('H:i:s') }}+00:00",
			"author": {
				"@type": "Person",
				"name": "Delrodie AMOIKON"
			},
			"publisher": {
				"@type": "Organization",
				"name": "DREAM MAKER :: Maison de distribution, production et de communication événementielle",
				"logo": {
					"@type": "ImageObject",
					"url": "{{ absolute_url(asset('ressources/images/logo-02.png')) }}"
				}
			},
			"description": "{{ artiste.resume|raw }}"
		}
	</script>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ absolute_url(path('homepage')) }}",
			"contactPoint": [{
				"@type": "ContactPoint",
				"telephone": "+225 58 99 99 79",
				"contactType": "Direction",
				"contactOption": "TollFree",
				"areaServed": "FR"
			},{
				"@type": "ContactPoint",
				"telephone": "+225 58 99 99 79",
				"contactType": "Direction",
				"contactOption": "TollFree",
				"areaServed": [
					"CI",
					"FR"
				],
				"availableLanguage": [
					"French",
					"English"
				]
			}]
		}
	</script>
{% endblock %}


{% block adsense %}
	<script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9362330925767613",
            enable_page_level_ads: true
        });
	</script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ absolute_url(asset('ressources/js/jquery.fancybox.pack.js')) }}"></script>
	<script src="{{ absolute_url(asset('ressources/js/jquery.mixitup.min.js')) }}"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
	<script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d124f7e2d592700120c2b34&product='inline-share-buttons' async='async'></script>
{% endblock %}


