{% extends 'sdm_layout.html.twig' %}
{% block body %}
	<div class="product-area pt-100">
		<div class="container">
			<div class="tab-content">
				<div class="tab-pane active" id="all">
					<ul class="row mb-30">
						{% set total = 0 %} {% set fbk = 0 %} {% set web = 0 %} {% set sms = 0 %}
						{% for candidat in candidats %}
							{% set total = total+candidat.total %}
							{% set fbk = fbk+candidat.pointFacebook %}
							{% set web = web+candidat.pointWeb %}
							{% set sms = sms+candidat.pointUreport %}
						{% endfor %}
						<li class="col-xl-3 col-3">Total: <span style="color: blue; font-size: 1.5em">{{ total}}</span></li>
						<li class="col-xl-3 col-3">Fbk:  <span style="color: blue; font-size: 1.3em">{{ fbk}}</span></li>
						<li class="col-xl-3 col-3">Web:  <span style="color: blue; font-size: 1.3em">{{ web}}</span></li>
						<li class="col-xl-3 col-3">SMS:  <span style="color: blue; font-size: 1.3em">{{ sms}}</span></li>
					</ul>
					<ul class="row">
						{% for candidat in candidats %}
							{% if loop.index < 5 %}
								<li class="col-xl-3 col-lg-4 col-sm-6 col-12">
									<div class="product-wrap">
										<div class="product-img">
											<span>Vote</span>
											<img src="{{ asset('uploads/concours/'~ candidat.imageName) | imagine_filter('candidat_profil') }}" alt="{{ candidat.pseudo }}" title="" class="img-responsive">
											<div class="product-icon flex-style">
												<ul>
													<li><a data-toggle="modal" data-target="#star{{loop.index}}" href="javascript:void(0);"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="product-content">
											<h3>
												<a href="{{ path('sdm_show', {'slug': candidat.slug}) }}">{{ candidat.code }}</a>
												<span class="pull-right"><span style="font-size: 0.5em;">vote: </span><span style="color: blue">{{ candidat.total}}</span></span>
											</h3>
											<p class="pull-left">
											</p>
											<ul class="pull-right">
												<li></li>
											</ul>
										</div>
									</div>
								</li>
							{% else %}
								<li class="col-xl-3 col-lg-4 col-sm-6 col-12  moreload">
									<div class="product-wrap">
										<div class="product-img">
											<span>vote</span>
											<img src="{{ asset('uploads/concours/'~ candidat.imageName) | imagine_filter('candidat_profil') }}" alt="{{ candidat.pseudo }}" title="" class="img-responsive">
											<div class="product-icon flex-style">
												<ul>
													<li><a data-toggle="modal" data-target="#star{{loop.index}}" href="javascript:void(0);"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="product-content">
											<h3>
												<a href="{{ path('sdm_show', {'slug': candidat.slug}) }}">{{ candidat.code }}</a>
												<span class="pull-right"><span style="font-size: 0.5em;">vote: </span><span style="color: blue">{{ candidat.total}}</span></span>
											</h3>
											<p class="pull-left">
											</p>
											<ul class="pull-right d-flex">
											</ul>
										</div>
									</div>
								</li>
							{% endif %}
						{% endfor %}
						<li class="col-12 text-center">
							<a class="loadmore-btn" href="javascript:void(0);">Chargement</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal area start -->
	{% for candidat in candidats %}
		<div class="modal fade" id="star{{loop.index}}" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="modal-body d-flex">
						<div class="product-single-img w-50">
							<img src="{{ asset('uploads/concours/'~ candidat.imageName) | imagine_filter('candidat_bio') }}" alt="{{ candidat.pseudo }}" title="" class="img-responsive">
						</div>
						<div class="product-single-content w-50">
							<h3>{{ candidat.pseudo}}</h3>
							<div class="rating-wrap fix">
								<span class="pull-left"></span>
								<ul class="rating pull-right d-flex">
									Vote: &nbsp;&nbsp; <li style="color: blue; font-size: 1.9em; font-weight: bold;"> {{ candidat.total}}</li>
								</ul>
							</div>
							<p>
								{{ candidat.biographie|raw}}
							</p>
							<ul class="input-style">
								{% if vote %}
									<li><a href="{{ path('sdm_vote', {'slug': candidat.slug}) }}">VOTEZ</a></li>
								{% else %}
									<li><a href="#">Ré-voter plutard</a></li>
								{% endif %}
								<li><a href="{{ path('sdm_show', {'slug': candidat.slug}) }}">VOIR LA VIDEO</a></li>
							</ul>
							<ul class="cetagory">
								<li>Genre:</li>
								<li><a href="#">{{ candidat.genre}}</a></li>
							</ul>
							<ul class="socil-icon">
								<li>Suivre le candidat :</li>
								{% if candidat.facebook %}
									<li><a href="https://facebook.com/{{ candidat.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
								{% endif %}
								{% if candidat.twitter %}
									<li><a href="https://twitter.com/{{ candidat.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
								{% endif %}
								{% if candidat.instagram %}
									<li><a href="https://instagramm/{{ candidat.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
