{% extends 'backend.html.twig' %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des utilsateurs</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('admin_user_index'))}}">Utilisateurs</a></li>
            <li class="breadcrumb-item active">Liste</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header text-right">
                        <a href="{{ absolute_url(path('admin_user_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter un nouvel utilisateur</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive" cellspacing="0" width="100%">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">ID</th>
                                <th class="text-center">NOMS UTILISATEURS</th>
                                <th class="text-center">EMAILS</th>
                                <th class="text-center">PREMIERE</th>
                                <th class="text-center">DERNIERE</th>
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">ROLE</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="text-right">{{ loop.index }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-center">{{ user.firstLogin|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center">{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center">{{ user.loginCount }}</td>
                                    <td class="text-center">
                                        {% if user.roles %}
                                            {% if ('ROLE_ADMIN' in user.roles|join(', ')) %}
                                                Administrateur
                                            {% elseif ('ROLE_EDITEUR' in user.roles|join(', ')) %}
                                                Editeur
                                            {% else %}
                                                Internaute
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{% if user.enabled %}<span class="badge badge-success">Actif</span>{% else %}<span class="badge badge-danger">Désactivé</span>{% endif %}</td>
                                    <td class="text-center">
                                        <a href="{{ absolute_url(path('admin_user_edit', {'id': user.id })) }}" class="text-primary" title="Modifier/Désactiver"><i class="fa fa-edit"></i></a> |
                                        <a href="#" class="text-primary" title="Voir le profil"><i class="fa fa-user"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun utilisateurs</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    {% javascripts
        'backoffice/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js'
        'backoffice/js/pages/data-table.js'
        output='backoffice/js/table.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
{% endblock %}
