{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} Gestion des artistes{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des artistes</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_artiste_index'))}}">artistes</a></li>
            <li class="breadcrumb-item active">Liste </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <a href="{{ absolute_url(path('backend_artiste_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter un artiste</a>
            </div>

            <div class="row">
                {% for artiste in artistes %}
                    <div class="col-md-12 col-lg-3">
                        <div class="box box-default" style="height: 600px">
                            <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(artiste, 'imageFile') }}" alt="{{ artiste.pseudonyme }}">
                            <div class="box-body">
                                {% if (artiste.flag == 5) %}
                                    <span class="badge badge-danger">
                                        {% for i in 1..5 %}
                                            <i class="fa fa-star-half-alt"></i>
                                        {% endfor %}
                                    </span>
                                {% elseif (artiste.flag == 4)%}
                                    <span class="badge badge-danger">
                                        {% for i in 1..4 %}
                                            <i class="fa fa-star-half-alt"></i>
                                        {% endfor %}
                                    </span>
                                {% elseif (artiste.flag == 3)%}
                                    <span class="badge badge-danger">
                                        {% for i in 1..3 %}
                                            <i class="fa fa-star-half-alt"></i>
                                        {% endfor %}
                                    </span>
                                {% elseif (artiste.flag == 2)%}
                                    <span class="badge badge-danger">
                                        {% for i in 1..2 %}
                                            <i class="fa fa-star-half-alt"></i>
                                        {% endfor %}
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger"><i class="fa fa-star-half-alt"></i></span>
                                {% endif %}
                                {% if (artiste.oeuvre) %}
                                    <span class="badge badge-secondary pull-right">{{ artiste.oeuvre }} oeuvres</span>
                                {% endif %}
                                <h4 class="card-title">
                                    {% if artiste.statut %}
                                        <span class="badge badge-success">Actif</span>
                                    {% else %}
                                        <span class="badge badge-danger">Désactivé</span>
                                    {% endif %}
                                    {{ artiste.pseudonyme }}
                                </h4>
                                <p class="card-text text-justify">{{ artiste.resume|raw }}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{{ absolute_url(path('backend_artiste_edit', {'slug': artiste.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                                    </a>
                                    <a href="{{ absolute_url(path('backend_artiste_show', {'slug': artiste.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i> Consulter</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                {% else %}

                {% endfor %}
            </div>

    </section>
{% endblock %}
