{% extends 'backend.html.twig' %}

{% block title %}Gestion de la artiste{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion de la artiste</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_artiste_index'))}}">Utilisateur</a></li>
            <li class="breadcrumb-item active">Gestion de la artiste</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-warning">
                <div class="box-header text-right">
                    <a href="{{ absolute_url(path('backend_artiste_index'))}}" class="btn btn-social btn-primary"><i class="fa fa-list"></i>La liste des artistes</a>
                </div>
                <div class="box-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Pseudonyme</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.pseudonyme)}}
                                    <span class="help-block">{{ form_errors(form.pseudonyme)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Nom & prenoms</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.nom)}}
                                    <span class="help-block">{{ form_errors(form.nom)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-12 control-label text-left">Biographie</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.biographie)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Genre</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.genre)}}
                                    <span class="help-block">{{ form_errors(form.genre)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Contact Manager</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.manager)}}
                                    <span class="help-block">{{ form_errors(form.manager)}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Email</label>
                                    {{ form_widget(form.email)}}
                                    <span class="help-block">{{ form_errors(form.email)}}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Site web</label>
                                    {{ form_widget(form.website)}}
                                    <span class="help-block">{{ form_errors(form.website)}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Facebook</label>
                                    {{ form_widget(form.facebook)}}
                                    <span class="help-block">{{ form_errors(form.facebook)}}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Twitter</label>
                                    {{ form_widget(form.twitter)}}
                                    <span class="help-block">{{ form_errors(form.twitter)}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Youtube</label>
                                    {{ form_widget(form.youtube)}}
                                    <span class="help-block">{{ form_errors(form.youtube)}}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label text-left">Instagram</label>
                                    {{ form_widget(form.instagram)}}
                                    <span class="help-block">{{ form_errors(form.instagram)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Ordre d'affichage</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.flag)}}
                                    <span class="help-block">{{ form_errors(form.flag)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label text-left">Telecharger l'illustration</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.imageFile)}}
                                    <span class="help-block">{{ form_errors(form.imageFile)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 control-label text-left"></div>
                                <div class="checkbox col-sm-12">
                                    {{ form_widget(form.statut)}}
                                    <label for="appbundle_artiste_statut">Activé</label>
                                </div>
                            </div>
                            {{ form_widget(form) }}
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">Annuler</button>
                                <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {% stylesheets
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css'
        'backoffice/tags/tagsinput.css'
        filter='cssrewrite' output='backoffice/css/editeur.css'
    %}
        <link rel="stylesheet" href="{{ absolute_url(asset_url)}}" />
    {% endstylesheets %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% javascripts
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js'
        'backoffice/js/pages/editor.js'
        'backoffice/tags/tagsinput.js'
        output='backoffice/js/editeur.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>

    {% endjavascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote();
        });
    </script>
{% endblock %}
