{% extends 'backend.html.twig' %}

{% block title %}Backoffice : Gestion des artistes{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des artistes</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">Artiste</a></li>
            <li class="breadcrumb-item active">Biographie</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box-header text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ absolute_url(path('backend_artiste_edit', {'slug': artiste.slug})) }}" >
                    <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                </a>
                <a href="{{ absolute_url(path('backend_artiste_index')) }}" >
                    <button type="button" class="btn btn-default"><i class="fa fa-list"></i> Liste des artistes</button>
                </a>

                {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer cet artiste ?");'}}) }}
                <button type="submit" value="Supprimer" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Supprimer
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>

            <div class="row">
                <div class="col-xl-4 col-lg-5">

                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            {% if (artiste.imageName) %}
                                <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ vich_uploader_asset(artiste, 'imageFile') }}" alt="{{ artiste.nom }}">
                            {% else %}
                                <img src="{{ absolute_url(asset('ressources/images/logo.jpg')) }}" alt="" class="profile-user-img rounded-circle img-fluid mx-auto d-block">
                            {% endif %}
                            <h3 class="profile-username text-center">{{ artiste.nom }}({{ artiste.pseudonyme }})</h3>

                            <div class="row">
                                <div class="col-12">
                                    <div class="profile-user-info">
                                        <p>Site web </p>
                                        <h6 class="margin-bottom">
                                            <a href="http://{{ artiste.website }}" target="_blank">http://{{ artiste.website }}</a>
                                        </h6>
                                        <p>Adresse Email </p>
                                        <h6 class="margin-bottom">
                                            <a href="mailto:{{ artiste.email }}">{{ artiste.email }}</a>
                                        </h6>
                                        <p>Manager</p>
                                        <h6 class="margin-bottom text-justify">
                                            {{ artiste.manager|raw }}
                                        </h6>
                                        <p class="margin-bottom">Social Profile</p>
                                        <div class="user-social-acount">
                                            <a href="https://facebook.com/{{ artiste.facebook }}" target="_blank"><button class="btn btn-circle btn-social-icon btn-facebook"><i class="fab fa-facebook-f"></i></button></a>
                                            <a href="https://twitter.com/{{ artiste.twitter }}" target="_blank"><button class="btn btn-circle btn-social-icon btn-twitter"><i class="fab fa-twitter"></i></button></a>
                                            <a href="https://linkeded.com/{{ artiste.facebook }}" target="_blank"><button class="btn btn-circle btn-social-icon btn-linkedin"><i class="fab fa-linkedin-in"></i></button></a>
                                            <a href="https://youtube.com/{{ artiste.facebook }}" target="_blank"><button class="btn btn-circle btn-social-icon btn-youtube"><i class="fab fa-youtube"></i></button></a>
                                            <a href="https://instagram.com/{{ artiste.instagram }}" target="_blank"><button class="btn btn-circle btn-social-icon btn-instagram"><i class="fab fa-instagram"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-xl-8 col-lg-7">
                    <div class="nav-tabs-custom">

                        <div class="tab-content">

                            {{ artiste.biographie|raw }}

                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

    </section>
{% endblock %}
