{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ photo.titre }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if photo.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ photo.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ photo.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if photo.updatedAt %}{{ photo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ photo.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ photo.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ photo.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ photo.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ photo.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_photo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_photo_edit', { 'id': photo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
