{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ item.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ item.contenu }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if item.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ item.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ item.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ item.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ item.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ item.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_item_edit', { 'id': item.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
